openapi: 3.0.0
info:
  contact:
    email: support@cashful.africa
    name: Support
    url: https://cashful.africa
  description: Developer documentation for the Cashful platform.
  title: Cashful API
  version: 0.7.0
servers:
- description: Live
  url: https://api.cashful.africa
- description: Testing
  url: https://sandbox.api.cashful.africa
- description: Local
  url: http://localhost:9000
paths:
  /api/canary/health:
    get:
      description: Performs a health check on the application and external dependencies
      operationId: checkHealth
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  status: ok
                  info:
                    database:
                      status: up
                  error: {}
                  details:
                    database:
                      status: up
          description: Application and all dependencies are healthy
        "503":
          content:
            application/json:
              schema:
                example:
                  status: error
                  error:
                    database:
                      status: down
                      message: Database connection failed
          description: One or more health checks failed
      summary: Health check endpoint
      tags:
      - Health
      x-accepts:
      - application/json
  /api/canary/authentication/sign-up/email:
    post:
      description: Create a new user account using email and password
      operationId: signUpEmail
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignUpDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignUpResponseDto"
          description: User created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Sign up with email
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/sign-in/social:
    post:
      description: "Sign in with a social provider (OAuth, etc.)"
      operationId: socialSignIn
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SocialSignInDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignInResponseDto"
          description: Successfully signed in with social provider
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Sign in with social provider
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/sign-in/email:
    post:
      description: Authenticate a user using email and password
      operationId: signInEmail
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignInDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignInResponseDto"
          description: User signed in successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Sign in with email
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/sign-out:
    post:
      description: Sign out the current user and invalidate the session
      operationId: signOut
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignOutDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignOutResponseDto"
          description: User signed out successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Sign out
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/get-session:
    get:
      description: Retrieve the current user session
      operationId: getSession
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSessionResponseDto"
          description: Session retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Get Session
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/token:
    get:
      description: Get a JWT token
      operationId: getJSONWebToken
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetJsonWebTokenResponseDto"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Get a JWT token
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/jwks:
    get:
      description: Get the JSON Web Key Set
      operationId: getJSONWebKeySet
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetJsonWebKeySetResponseDto"
          description: JSON Web Key Set retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Get the JSON Web Key Set
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/forget-password:
    post:
      description: Send a password reset email to the user
      operationId: forgetPassword
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForgotPasswordDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForgotPasswordResponseDto"
          description: Password reset email sent
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Forget Password
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/reset-password:
    post:
      description: Reset the user's password using a token
      operationId: resetPassword
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResetPasswordResponseDto"
          description: Password reset successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Reset Password
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/organization/create:
    post:
      description: Create a new organization
      operationId: createOrganization
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganizationDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateOrganizationResponseDto"
          description: Organization created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Create Organization
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/organization/list:
    get:
      description: List all organizations for the current user
      operationId: listOrganizations
      parameters:
      - description: Include additional organization data
        explode: true
        in: query
        name: include
        required: false
        schema:
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/OrganizationDto"
                type: array
          description: Organizations listed successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: List Organizations
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/organization/get-full-organization:
    get:
      description: Get the full organization details
      operationId: getOrganization
      parameters:
      - description: The organization ID to get
        explode: true
        in: query
        name: organizationId
        required: false
        schema:
          example: org_12345
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetFullOrganizationResponseDto"
          description: Organization retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Get Full Organization
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/organization/get-invitation:
    get:
      description: Get an invitation by ID
      operationId: getInvitation
      parameters:
      - description: The ID of the invitation to get
        explode: true
        in: query
        name: invitationId
        required: true
        schema:
          example: inv_12345
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInvitationResponseDto"
          description: Invitation retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Get Invitation
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/organization/list-invitations:
    get:
      description: List all invitations a user has received
      operationId: listOrganizationInvitations
      parameters:
      - description: Filter by organization ID
        explode: true
        in: query
        name: organizationId
        required: false
        schema:
          example: org_12345
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListInvitationsResponseDto"
          description: Invitations listed successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: List Invitations
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/organization/get-active-member:
    get:
      description: Get the member details of the active organization
      operationId: getActiveMember
      parameters:
      - description: Filter by organization ID
        explode: true
        in: query
        name: organizationId
        required: false
        schema:
          example: org_12345
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetActiveMemberResponseDto"
          description: Active member retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Get Active Member
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/organization/check-slug:
    post:
      description: Check if organization slug is available
      operationId: checkSlug
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckSlugDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckSlugResponseDto"
          description: Slug check completed
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Check Slug
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/organization/leave:
    post:
      description: Leave an organization
      operationId: leaveOrganization
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LeaveOrganizationDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaveOrganizationResponseDto"
          description: Left organization successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Leave Organization
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/organization/list-user-invitations:
    get:
      description: List all invitations a user has received
      operationId: listUserInvitations
      parameters:
      - description: Filter by status
        explode: true
        in: query
        name: status
        required: false
        schema:
          example: pending
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListUserInvitationsResponseDto"
          description: User invitations listed successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: List User Invitations
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/organization/list-members:
    get:
      description: List all members of an organization
      operationId: listMembers
      parameters:
      - description: Filter by organization ID
        explode: true
        in: query
        name: organizationId
        required: false
        schema:
          example: org_12345
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMembersResponseDto"
          description: Members listed successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: List Members
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/organization/get-active-member-role:
    get:
      description: Get the role of the current user in the active organization
      operationId: getActiveMemberRole
      parameters:
      - description: Filter by organization ID
        explode: true
        in: query
        name: organizationId
        required: false
        schema:
          example: org_12345
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetActiveMemberRoleResponseDto"
          description: Active member role retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Get Active Member Role
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/organization/has-permission:
    post:
      description: Check if a user has permission
      operationId: hasPermission
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HasPermissionDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HasPermissionResponseDto"
          description: Permission check completed
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Has Permission
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/organization/set-active:
    post:
      description: Set the active organization for the current session
      operationId: setActiveOrganization
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetActiveOrganizationDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetActiveOrganizationResponseDto"
          description: Active organization set successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Set Active Organization
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/organization/update:
    post:
      description: Update an organization's details
      operationId: updateOrganization
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrganizationDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOrganizationResponseDto"
          description: Organization updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Update Organization
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/organization/delete:
    post:
      description: Delete an organization
      operationId: deleteOrganization
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteOrganizationDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteOrganizationResponseDto"
          description: Organization deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Delete Organization
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/organization/invite-member:
    post:
      description: Invite a user to an organization
      operationId: inviteMember
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteMemberDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteMemberResponseDto"
          description: Member invited successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Invite Member
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/organization/accept-invitation:
    post:
      description: Accept an invitation to an organization
      operationId: acceptInvitation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcceptInvitationDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptInvitationResponseDto"
          description: Invitation accepted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Accept Invitation
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/organization/cancel-invitation:
    post:
      description: Cancel an invitation to an organization
      operationId: cancelInvitation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelInvitationDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelInvitationResponseDto"
          description: Invitation cancelled successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Cancel Invitation
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/organization/reject-invitation:
    post:
      description: Reject an invitation to an organization
      operationId: rejectInvitation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RejectInvitationDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RejectInvitationResponseDto"
          description: Invitation rejected successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Reject Invitation
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/organization/remove-member:
    post:
      description: Remove a member from an organization
      operationId: removeMember
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveMemberDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveMemberResponseDto"
          description: Member removed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Remove Member
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/organization/update-member-role:
    post:
      description: Update a member's role in an organization
      operationId: updateMemberRole
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMemberRoleDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateMemberRoleResponseDto"
          description: Member role updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Update Member Role
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/api-key/create:
    post:
      description: Create a new API key
      operationId: createApiKey
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateApiKeyResponseDto"
          description: API key created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Create API Key
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/api-key/list:
    get:
      description: List all API keys for the current user
      operationId: listApiKeys
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListApiKeysResponseDto"
          description: API keys listed successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: List API Keys
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/api-key/update:
    post:
      description: Update an API key
      operationId: updateApiKey
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateApiKeyDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateApiKeyResponseDto"
          description: API key updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Update API Key
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/api-key/delete:
    post:
      description: Delete an API key
      operationId: deleteApiKey
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteApiKeyDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteApiKeyResponseDto"
          description: API key deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Delete API Key
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/api-key/verify:
    post:
      description: Verify an API key
      operationId: verifyApiKey
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyApiKeyDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyApiKeyResponseDto"
          description: API key verified successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Verify API Key
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/api-key/get:
    get:
      description: Retrieve a specific API key by ID
      operationId: getApiKey
      parameters:
      - description: The ID of API key to retrieve
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: key_12345
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetApiKeyResponseDto"
          description: API key retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Get API Key
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/verify-email:
    get:
      description: Verify the email of a user
      operationId: verifyEmail
      parameters:
      - description: The token to verify email
        explode: true
        in: query
        name: token
        required: true
        schema:
          example: verify_token_12345
          type: string
        style: form
      - description: The URL to redirect to after email verification
        explode: true
        in: query
        name: callbackURL
        required: false
        schema:
          example: https://example.com/callback
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyEmailResponseDto"
          description: Email verified successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Verify Email
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/send-verification-email:
    post:
      description: Send a verification email to the user
      operationId: sendVerificationEmail
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendVerificationEmailDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendVerificationEmailResponseDto"
          description: Verification email sent successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Send Verification Email
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/change-email:
    post:
      description: Change the email address of the current user
      operationId: changeEmail
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeEmailDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeEmailResponseDto"
          description: Email change request processed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Change Email
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/change-password:
    post:
      description: Change the password of the current user
      operationId: changePassword
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangePasswordResponseDto"
          description: Password changed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Change Password
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/update-user:
    post:
      description: Update the current user's information
      operationId: updateUser
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateUserResponseDto"
          description: User updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Update User
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/delete-user:
    post:
      description: Delete the current user's account
      operationId: deleteUser
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteUserDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteUserResponseDto"
          description: User deletion processed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Delete User
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/request-password-reset:
    post:
      description: Send a password reset email to the user
      operationId: requestPasswordReset
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestPasswordResetDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestPasswordResetResponseDto"
          description: Password reset email sent successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Request Password Reset
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/reset-password/{token}:
    get:
      description: Redirects user to callback URL with token
      operationId: resetPasswordCallback
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: The URL to redirect user to reset their password
        explode: true
        in: query
        name: callbackURL
        required: true
        schema:
          example: https://example.com/reset-password
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResetPasswordCallbackResponseDto"
          description: Password reset token validated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Reset Password Callback
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/list-sessions:
    get:
      description: List all active sessions for the user
      operationId: listUserSessions
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSessionsResponseDto"
          description: Sessions listed successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: List User Sessions
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/revoke-session:
    post:
      description: Revoke a specific session
      operationId: revokeSession
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevokeSessionDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeSessionResponseDto"
          description: Session revoked successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Revoke Session
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/revoke-sessions:
    post:
      description: Revoke all sessions for the current user
      operationId: revokeSessions
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeSessionResponseDto"
          description: All sessions revoked successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Revoke All Sessions
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/revoke-other-sessions:
    post:
      description: Revoke all sessions except the current one
      operationId: revokeOtherSessions
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeSessionResponseDto"
          description: Other sessions revoked successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Revoke Other Sessions
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/ok:
    get:
      description: Check if the authentication API is working
      operationId: ok
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: API is working
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Health Check
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/is-username-available:
    post:
      description: Check if username is available for signup
      operationId: isUsernameAvailable
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IsUsernameAvailableDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IsUsernameAvailableResponseDto"
          description: Username availability checked
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Check Username Availability
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/link-social:
    post:
      description: Link a social account to existing user
      operationId: linkSocial
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkSocialDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkSocialResponseDto"
          description: Social account linked successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Link Social Account
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/unlink-account:
    post:
      description: Unlink a social account from user
      operationId: unlinkAccount
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnlinkAccountDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnlinkAccountResponseDto"
          description: Social account unlinked successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Unlink Social Account
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/list-accounts:
    get:
      description: List all linked social accounts
      operationId: listAccounts
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccountsResponseDto"
          description: Linked accounts listed successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: List Linked Accounts
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/canary/authentication/refresh-token:
    post:
      description: Refresh authentication token
      operationId: refreshToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTokenResponseDto"
          description: Token refreshed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Refresh Token
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/get-access-token:
    post:
      description: Get current access token
      operationId: getAccessToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetAccessTokenDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAccessTokenResponseDto"
          description: Access token retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Get Access Token
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/sign-in/phone-number:
    post:
      description: Sign in using phone number and password
      operationId: signInPhoneNumber
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignInPhoneNumberDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignInResponseDto"
          description: Signed in with phone number successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Sign in with Phone Number
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/phone-number/send-otp:
    post:
      description: Send one-time password to phone number
      operationId: sendPhoneOTP
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendPhoneOTPDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendPhoneOTPResponseDto"
          description: OTP sent successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Send OTP to Phone
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/phone-number/verify:
    post:
      description: Verify phone number with OTP code
      operationId: verifyPhoneNumber
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyPhoneNumberDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyPhoneNumberResponseDto"
          description: Phone number verified successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Verify Phone Number
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/phone-number/request-password-reset:
    post:
      description: Request password reset via phone number
      operationId: requestPhonePasswordReset
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestPhonePasswordResetDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestPhonePasswordResetResponseDto"
          description: Password reset requested successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Request Password Reset via Phone
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/authentication/phone-number/reset-password:
    post:
      description: Reset password using phone verification
      operationId: resetPhonePassword
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPhonePasswordDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResetPhonePasswordResponseDto"
          description: Password reset successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      summary: Reset Password with Phone
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/checkout/sessions:
    get:
      description: Lists checkout sessions
      operationId: listCheckoutSessions
      parameters:
      - description: Maximum number of records to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 50
          type: number
        style: form
      - description: Number of records to skip
        explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 0
          type: number
        style: form
      - description: The ID of the merchant to filter checkout sessions
        explode: true
        in: query
        name: merchantId
        required: true
        schema:
          type: string
        style: form
      - description: The status to filter checkout sessions
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: checkout_sess_123
                  merchantId: merchant_456
                  customerId: customer_789
                  sessionUrl: https://pay.cashful.africa/?op=checkout&sessionId=checkout_sess_123
                  successUrl: https://example.com/success
                  cancelUrl: https://example.com/cancel
                  lineItems:
                  - productId: product_001
                    quantity: 2
                    amount: 5000
                    currency: ZAR
                  - productId: product_002
                    quantity: 1
                    amount: 3000
                    currency: ZAR
                  totalAmount: 13000
                  currency: ZAR
                  mode: payment
                  status: active
                  expiresAt: 2025-01-17T10:30:00.000Z
                  createdAt: 2025-01-15T10:30:00.000Z
                  updatedAt: 2025-01-15T10:30:00.000Z
                - id: checkout_sess_124
                  merchantId: merchant_456
                  customerId: customer_789
                  sessionUrl: https://pay.cashful.africa/?op=checkout&sessionId=checkout_sess_124
                  successUrl: https://example.com/success
                  cancelUrl: https://example.com/cancel
                  lineItems: []
                  totalAmount: 10000
                  currency: ZAR
                  mode: payin
                  status: active
                  expiresAt: 2025-01-17T10:30:00.000Z
                  createdAt: 2025-01-15T10:30:00.000Z
                  updatedAt: 2025-01-15T10:30:00.000Z
                  metadata:
                    purpose: wallet_topup
                pagination:
                  limit: 50
                  offset: 0
                  total: 2
              schema:
                $ref: "#/components/schemas/ListCheckoutSessionsResponseDto"
          description: Successfully retrieved checkout sessions
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: List Checkout Sessions
      tags:
      - Checkouts
      x-accepts:
      - application/json
    post:
      description: "Creates a hosted payment page. Used for: (1) A standard e-commerce\
        \ purchase, or (2) a \"Pay-In\" to fund a CustomerBalance."
      operationId: createCheckoutSession
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCheckoutSessionDto"
        description: Checkout session details
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                id: checkout_sess_123
                merchantId: merchant_456
                customerId: customer_789
                sessionUrl: https://pay.cashful.africa/?op=checkout&sessionId=checkout_sess_123
                successUrl: https://example.com/success
                cancelUrl: https://example.com/cancel
                lineItems:
                - productId: product_001
                  quantity: 2
                  amount: 5000
                  currency: ZAR
                - productId: product_002
                  quantity: 1
                  amount: 3000
                  currency: ZAR
                totalAmount: 13000
                currency: ZAR
                mode: payment
                status: active
                expiresAt: 2025-01-17T10:30:00.000Z
                createdAt: 2025-01-15T10:30:00.000Z
                updatedAt: 2025-01-15T10:30:00.000Z
              schema:
                $ref: "#/components/schemas/CheckoutSessionResponseDto"
          description: Checkout session created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Create Hosted Checkout
      tags:
      - Checkouts
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/checkout/sessions/{id}:
    get:
      description: Retrieves details of a specific checkout session
      operationId: retrieveCheckoutSession
      parameters:
      - description: The unique identifier of the checkout session
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: checkout_sess_123
                merchantId: merchant_456
                customerId: customer_789
                sessionUrl: https://pay.cashful.africa/?op=checkout&sessionId=checkout_sess_123
                successUrl: https://example.com/success
                cancelUrl: https://example.com/cancel
                lineItems:
                - productId: product_001
                  quantity: 2
                  amount: 5000
                  currency: ZAR
                - productId: product_002
                  quantity: 1
                  amount: 3000
                  currency: ZAR
                totalAmount: 13000
                currency: ZAR
                mode: payment
                status: active
                expiresAt: 2025-01-17T10:30:00.000Z
                createdAt: 2025-01-15T10:30:00.000Z
                updatedAt: 2025-01-15T10:30:00.000Z
              schema:
                $ref: "#/components/schemas/CheckoutSessionResponseDto"
          description: Successfully retrieved checkout session
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Retrieve Checkout Session
      tags:
      - Checkouts
      x-accepts:
      - application/json
  /api/canary/balance:
    get:
      description: Retrieves the merchant's own master balance (their earnings) available
        for payouts.
      operationId: getMerchantBalance
      parameters:
      - description: "The ID of the merchant whose balance is being requested. If\
          \ omitted, defaults to the authenticated merchant."
        explode: true
        in: query
        name: merchantId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                id: balance_merchant_456
                merchantId: merchant_456
                amount: 50000
                currency: ZAR
                available: 50000
                pending: 0
                createdAt: 2025-01-15T10:30:00.000Z
                updatedAt: 2025-01-15T10:30:00.000Z
              schema:
                $ref: "#/components/schemas/MerchantBalanceResponseDto"
          description: Successfully retrieved merchant balance
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Get Merchant Balance
      tags:
      - Balance
      x-accepts:
      - application/json
  /api/canary/balance/history:
    get:
      description: "A full ledger of all transactions, fees, and payouts for the merchant's\
        \ master account."
      operationId: getBalanceHistory
      parameters:
      - description: "The ID of the merchant whose balance is being requested. If\
          \ omitted, defaults to the authenticated merchant."
        explode: true
        in: query
        name: merchantId
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of records to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - description: Number of records to skip
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: number
        style: form
      - description: Filter transactions from this date (ISO 8601 format)
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: Filter transactions until this date (ISO 8601 format)
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by transaction type (e.g., \"credit\", \"debit\", \"\
          fee\", \"payout\")"
        explode: true
        in: query
        name: transactionType
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: txn_001
                  merchantId: merchant_456
                  type: credit
                  amount: 10000
                  currency: ZAR
                  description: Checkout session completed
                  relatedEntityId: checkout_789
                  relatedEntityType: CheckoutSession
                  balanceAfter: 50000
                  createdAt: 2025-01-15T10:30:00.000Z
                  updatedAt: 2025-01-15T10:30:00.000Z
                - id: txn_002
                  merchantId: merchant_456
                  type: fee
                  amount: -500
                  currency: ZAR
                  description: Platform fee
                  relatedEntityId: checkout_789
                  relatedEntityType: CheckoutSession
                  balanceAfter: 49500
                  createdAt: 2025-01-15T10:30:05.000Z
                  updatedAt: 2025-01-15T10:30:05.000Z
                - id: txn_003
                  merchantId: merchant_456
                  type: payout
                  amount: -20000
                  currency: ZAR
                  description: Payout to bank account
                  relatedEntityId: payout_001
                  relatedEntityType: Payout
                  balanceAfter: 29500
                  createdAt: 2025-01-14T15:00:00.000Z
                  updatedAt: 2025-01-14T15:00:00.000Z
                pagination:
                  limit: 50
                  offset: 0
                  total: 150
                  hasMore: true
              schema:
                $ref: "#/components/schemas/BalanceHistoryResponseDto"
          description: Successfully retrieved balance history
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: List Merchant Balance History
      tags:
      - Balance
      x-accepts:
      - application/json
  /api/canary/customers:
    get:
      description: Retrieves a paginated list of all customers for the merchant.
      operationId: listCustomers
      parameters:
      - description: "The ID of the merchant whose balance is being requested. If\
          \ omitted, defaults to the authenticated merchant."
        explode: true
        in: query
        name: merchantId
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of records to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - description: Number of records to skip
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: number
        style: form
      - description: Filter by email address
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: Search across customer fields
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: customer_789
                  merchantId: merchant_456
                  phoneNumber: "+27821234567"
                  email: john.doe@example.com
                  name: John Doe
                  metadata:
                    source: web
                    referralCode: FRIEND123
                  createdAt: 2025-01-15T10:30:00.000Z
                  updatedAt: 2025-01-15T10:30:00.000Z
                pagination:
                  limit: 50
                  offset: 0
                  total: 150
                  hasMore: true
              schema:
                $ref: "#/components/schemas/ListCustomersResponseDto"
          description: Successfully retrieved customers list
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: List Customers
      tags:
      - Customers
      x-accepts:
      - application/json
    post:
      description: Creates a new customer object. This also provisions their "cash
        balance" feature (starting at 0).
      operationId: createCustomer
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomerDto"
        description: Customer details
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                id: customer_789
                merchantId: merchant_456
                phoneNumber: "+27821234567"
                email: john.doe@example.com
                name: John Doe
                metadata:
                  source: web
                  referralCode: FRIEND123
                createdAt: 2025-01-15T10:30:00.000Z
                updatedAt: 2025-01-15T10:30:00.000Z
              schema:
                $ref: "#/components/schemas/CustomerResponseDto"
          description: Customer created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "409":
          description: Customer with this email already exists
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Create Customer
      tags:
      - Customers
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/customers/{id}:
    get:
      description: Gets the details for a single customer.
      operationId: retrieveCustomer
      parameters:
      - description: The unique identifier of the customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: customer_789
                merchantId: merchant_456
                phoneNumber: "+27821234567"
                email: john.doe@example.com
                name: John Doe
                metadata:
                  source: web
                  referralCode: FRIEND123
                createdAt: 2025-01-15T10:30:00.000Z
                updatedAt: 2025-01-15T10:30:00.000Z
              schema:
                $ref: "#/components/schemas/CustomerResponseDto"
          description: Successfully retrieved customer details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Retrieve Customer
      tags:
      - Customers
      x-accepts:
      - application/json
    patch:
      description: "Updates a customer's details (e.g., email, metadata)."
      operationId: updateCustomer
      parameters:
      - description: The unique identifier of the customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCustomerDto"
        description: Customer update details
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: customer_789
                merchantId: merchant_456
                phoneNumber: "+27821234567"
                email: john.doe@example.com
                name: John Doe
                metadata:
                  source: web
                  referralCode: FRIEND123
                createdAt: 2025-01-15T10:30:00.000Z
                updatedAt: 2025-01-15T10:30:00.000Z
              schema:
                $ref: "#/components/schemas/CustomerResponseDto"
          description: Customer updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Bad Request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Resource not found
        "409":
          description: Email already in use by another customer
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Update Customer
      tags:
      - Customers
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/canary/customers/{id}/balance:
    get:
      description: Retrieves the real-time balance for a single customer's "cash balance"
        (the "wallet-enabling" feature).
      operationId: getCustomerBalance
      parameters:
      - description: The unique identifier of the customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: balance_001
                customerId: customer_789
                amount: 5000
                currency: ZAR
                available: 5000
                pending: 0
                createdAt: 2025-01-15T10:30:00.000Z
                updatedAt: 2025-01-15T10:30:00.000Z
              schema:
                $ref: "#/components/schemas/CustomerBalanceDto"
          description: Successfully retrieved customer's cash balance
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: Internal server error
      security:
      - bearer: []
      summary: Get Customer's Cash Balance
      tags:
      - Customers
      x-accepts:
      - application/json
  /api/canary/customers/{id}/transactions:
    get:
      description: "Provides the full transaction history for a single customer's\
        \ \"cash balance\" (Pay-Ins, Purchases, Transfers)."
      operationId: listCustomerTransactions
      parameters:
      - description: The unique identifier of the customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Maximum number of records to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - description: Number of records to skip
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: txn_001
                  customerId: customer_789
                  type: credit
                  amount: 1000
                  currency: ZAR
                  description: Checkout session completed
                  relatedEntityId: checkout_sess_123
[...]
